@page "/"

<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col-md-12">
        <h2 class="mt-4">RAWR UWU XD OWO MEOW Owo NYA uwU NEKO OwU-CHAN TeeHee UwU UwO Ehe~ Kawaii ~~</h2>
        <p>To follow along in building this sample please <a href="https://auth0.com/docs/quickstart/webapp/aspnet-core-blazor">refer to the Quickstart</a>.</p>
    </div>
</div>

