@page "/"
@inject siteProfile zProfile

<PageTitle>Landing</PageTitle>

<div class="row">
    <div class="col-md-12">
        <h2>@zProfile.username</h2>
        <h1>Welcome to Abode</h1>
        <p>This is a prototype application to help people maintain their housing and appliances. Remember these things are expensive so I suppose you want to maintain them to last a long time. </p>
        <a href="/Login">Continue</a>
    </div>
</div>


