@page
@model Auth0_Blazor.Pages.LoggedInHomeModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Ha I got it to send you to another site</a>.</p>
</div>
