@page "/LoggedInHome"
@model Auth0_Blazor.Pages.LoggedInHomeModel

<PageTitle>Home</PageTitle>

@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Ha I got it to send you to another site</a>.</p>
</div>

</html>
