@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject siteProfile zProfile

<PageTitle>SampleBlazorApp</PageTitle>


<NavMenu />

<div class="container body-content">
    @Body

    <hr />
    
    <footer>
        <p>&copy; 2023 - SampleBlazorApp</p>
    </footer>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity != null && user.Identity.Name != null)
        {
            zProfile.username = user.Identity.Name;
        }
    }
}
